.customer__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-main-primary);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.customer-list {
  --quantity-items: 2;

  &__icon {
    display: block;
    width: 106px;
    height: 60px;
    fill: var(--svg-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    height: 92px;
    border: 1px solid var(--svg-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid var(--main-hover-color);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--main-hover-color);
  }

  @media screen and (min-width: 768px) {
    --quantity-items: 3;
  }

  @media screen and (min-width: 1200px) {
    --quantity-items: 6;
  }
}
