.features-list {
  --quantity-items: 1;

  &__title {
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-main-primary);
    margin-bottom: 10px;
  }

  &__icon-thumb {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    --quantity-items: 2;
  }

  @media screen and (min-width: 1200px) {
    --quantity-items: 4;
  }
}
