.section-join {
  margin-top: 60px;

  &__title {
    margin-bottom: 20px;
    color: var(--text-accent-secondary);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-top: 0px;
    margin-right: auto;

  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 0px;
  }
}
