.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-accent-primary);
    
  &__dark {
    color: var(--text-header-logo);
  }
  
  &__light {
    color: var(--text-footer-logo);
  }
}