.secondary-contacts {
  margin-top: 8px;

  &__link {
    color: var(--text-footer-secondary);
  }

  &__link:hover,
  &__link:focus {
    color: var(--main-hover-color);
  }

  &__item:last-child {
    margin-top: 8px;

    @media screen and (min-width: 1200px) {
      margin-top: 9px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}
