:root {
    --text-footer-primary: #ffffff;
    --text-footer-secondary: rgba(255, 255, 255, 0.6);
  
    --text-main-primary: #212121;
    --text-main-secondary: #757575;
  
    --text-accent-primary: #2196f3;
    --text-accent-secondary: #fff;
  
    --text-footer-logo: #ffffff;
    --text-header-logo: #000000;
  
    --background-main: #fff;
    --background-footer: #2f303a;
    --background-hero: #c4c4c4;
    --background-team: #f5f4fa;
    --background-hero-button: #2196f3;
    --background-hover-hero-button: #188ce8;
    --main-hover-color: #2196f3;
    --background-member-card: #fff;
  
    --border-color: #ececec;
  
    --svg-color: #afb1b8;
  
    /* / цвета для страницы портфолио */
    --portfolio-button-background: #f5f4fa;
    --portfolio-list__item-border: #eeeeee;
    --portfolio-list__item-background: #fff;
  
    /* /переменные для создания сетки */
    --indent: 30px;
    --quantity-items: 3;
  } 